<head>
  <% if content_for?(:page_title) %>
    <title>Tandibi - <%= yield :page_title %></title>
  <% else %>
    <title>Tandibi</title>
  <% end %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible"
    content="ie=edge">

  <%= evil_icons_sprite %>
</head>
