<div class="card">
  <div class="card-body">
    <h5 class="card-title">Send me a message!</h5>

    <%= form_with(model: greeting, local: true) do |form| %>
      <% if greeting.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(greeting.errors.count, "error") %>
            prohibited this greeting from being saved:
          </h2>

          <ul>
            <% greeting.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.text_field :name,
          placeholder: "Name",
          class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.text_area :message,
          placeholder: "Message",
          class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Send!",
          class: "btn btn-outline-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
