<p id="notice"><%= notice %></p>

<h1>Greetings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @greetings.each do |greeting| %>
      <tr>
        <td><%= greeting.name %></td>
        <td><%= greeting.message %></td>
        <td><%= link_to 'Show', greeting %></td>
        <td><%= link_to 'Edit', edit_greeting_path(greeting) %></td>
        <td><%= link_to 'Destroy', greeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Greeting', new_greeting_path %>
