<% content_for(:page_title, "Reset password") %>

<%= form_for(resource,
  as: resource_name,
  url: password_path(resource_name),
  html: { method: :put }) do |f| %>

  <div class="form-group">
    <%= render "devise/shared/error_messages",
      resource: resource %>

    <%= f.hidden_field :reset_password_token %>

    <div class="mb-4">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation,
        "Confirm new password" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Change my password", class: "cta-btn w-full" %>
  </div>
<% end %>
