<% form_id = "poster-#{SecureRandom.hex(3)}" %>
<% thread = local_assigns[:thread] %>

<div class="poster flex <%= "p-3" unless thread %>">
  <%= form_for Post.new, html: { id: form_id } do |f| %>
    <%= f.hidden_field :postable_type, value: "Status" %>
    <%= f.hidden_field :thread_id, value: thread&.id %>
    <%= f.text_area :status_text,
      required: true,
      placeholder: "What's happening?"  %>

    <div class="controls">
      <div class="options">
        <div class="option">
          <%= evil_icon "ei-image" %>
        </div>
      </div>

      <div>
        <%= f.submit "Say", class: "submit-btn" %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var clickHandler = (evt) => {
    var formElm = evt.target.closest("form")
    var textareaElm = formElm.querySelector("textarea")

    if (evt.target && evt.target.classList.contains("icon")) {
      return;
    }

    textareaElm.focus()
  }

  document.querySelector("#<%= form_id %>")
    .addEventListener("click", clickHandler, false)
</script>
