<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <meta name="viewport"
      content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
      content="ie=edge">
  </head>

  <body class="body-session">
    <h1 class="title hidden md:block absolute mb-6 mt-2 ml-2">
      <%= content_for(:page_title) %>
    </h1>

    <main class="container">
      <div class="m-auto w-84 md:w-96">
        <%= render "layouts/alert" %>

        <h1 class="title md:hidden mb-6">
          <%= content_for(:page_title) %>
        </h1>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
